<!-- your html code here -->
<h3 class="mt-3">Contacto</h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos quidem ducimus magnam commodi, adipisci exercitationem asperiores ratione repudiandae consectetur! Quod, magnam. Illo, at possimus? 
    Nesciunt numquam amet excepturi natus quasi.</p>
<form class="ms-5 position-relative">
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2  col-form-label">Your E-mail</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3">
        </div>
    </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Your message</label>
        <div class="col-sm-10">
        <textarea class="form-control" cols="20" rows="3"></textarea>
        </div>
        <button type="submit" style="width: 8rem"; class="btn btn-primary mt-2 bottom-0 end-0">Submit</button>
</form>