<div class="container-fuid mx-5">
    <div class="row">
        <div class="col-8">
            <h1>This First Heading<span class="text-secondary"> Will Catch Your Eye</span></h1>
            <p class="fs-3">Duis placerat, justo eget porta tristique, mi ipsum porttitor metus, in consectetur magna erat vitae nunc. 
                Ut efficitur sodales vehicula. Pellentesque porta, risus nec pellentesque facilisis, tortor ligula viverra arcu, vitae tristique massa risus congue nisl.</p>
         </div>   
         <div class="col-4">
            <img src="./assets/img/1.jpg" class="rounded-circle" alt="Walter White's face">
        </div>
    </div>   
</div>