
<div class="container-fuid bg-white py-5 px-4">
    <div class="row my-5 mx-5">
        <div class="col-8 my-5">
            <h1>This First Heading<span class="text-secondary"> Will Catch Your Eye</span></h1>
            <p class="fs-2">Duis placerat, justo eget porta tristique, mi ipsum porttitor metus, in consectetur magna erat vitae nunc. 
                Ut efficitur sodales vehicula. Pellentesque porta, risus nec pellentesque facilisis, tortor ligula viverra arcu, vitae tristique massa risus congue nisl.</p>
         </div>   
         <div class="col-4">
            <img src="./assets/img/1.jpg" class="rounded-circle float-end img-fluid shadow mb-5 bg-body rounded" alt="Walter White's face">
        </div>
    </div>   
</div>