<!-- your html code here -->
<div class="container">
    <h3>Porfolio</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos quidem ducimus magnam commodi, adipisci exercitationem asperiores ratione repudiandae consectetur! Quod, magnam. Illo, at possimus? 
    Nesciunt numquam amet excepturi natus quasi.</p>
</div>
<div class="container d-flex flex-row">
    <div class="card me-4" style="width: 22rem;">
    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title mt-3 text-info">Andrés</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class="card me-4" style="width: 22rem;">
    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title mt-3 text-info">Karly</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class="card me-4" style="width: 22rem;">
    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title mt-3 text-info">Cornelio</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
</div>