<style>

.teclado{
    width: 600px;
    height: 600px;
}

</style>

<!--<div class="container-fluid border-top bg-white py-5 px-4">-->
    <div class="row justify-content-center d-flex border-top bg-white py-5 px-4 my-5 mx-5">
      <div class="col-4">
        <img src="./assets/img/2.jpg" class="teclado rounded-circle float-end img-fluid shadow mb-5 bg-body rounded" alt="Work in progress">
      </div>
      <div class="col-8 mt-0">
        <h1 clas="text-dark" style="font-size: 80px">The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h1>
        <p class="fs-2">Suspendisse potenti. Donec interdum ex arcu, sit amet blandit mauris congue quis. 
            Sed at massa cursus, mollis metus eu, semper ipsum. Nam posuere ultricies cursus. Phasellus sit amet convallis massa, in auctor tellus.
            Phasellus vulputate sollicitudin dictum.</p>
      </div>
    </div>
<!--</div>-->

